<div id="<%= dom_id destinatario %>">
  <p>
    <strong>Nome:</strong>
    <%= destinatario.nome %>
  </p>

  <p>
    <strong>Data nascimento:</strong>
    <%= destinatario.data_nascimento %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= destinatario.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= destinatario.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= destinatario.telefone %>
  </p>

  <p>
    <strong>Endereco:</strong>
    <br>
    <%= destinatario.endereco.logradouro.present? ? "Logradouro: #{destinatario.endereco.logradouro}" : nil %><br>
    <%= destinatario.endereco.numero.present? ? "Número: #{destinatario.endereco.numero}" : nil %><br>
    <%= destinatario.endereco.complemento.present? ? "Complemento: #{destinatario.endereco.complemento}" : nil %><br>
    <%= destinatario.endereco.bairro.present? ? "Bairro: #{destinatario.endereco.bairro}" : nil %><br>
    <%= destinatario.endereco.cep.present? ? "CEP: #{destinatario.endereco.cep}" : nil %><br>
    <%= destinatario.endereco.cidade.present? ? "Cidade: #{destinatario.endereco.cidade}" : nil %><br>
    <%= destinatario.endereco.pais.present? ? "País: #{destinatario.endereco.pais}" : nil %><br>
    <%= destinatario.endereco.codigo_postal.present? ? "Código Postal: #{destinatario.endereco.codigo_postal}" : nil %><br>
  </p>

</div>
